---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Contacts from "../components/Contacts.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";

import "../styles/global.css";

const skills = {
  languages: ["python", "java", "typescript", "javascript", "SQL"],
  frameworks: ["angular", "astro", "tailwind", "django", "spring boot"],
  DevOps: ["docker", "kubernetes", "helm", "git"],
};

const contacts = [
  {
    icon: "envelope",
    title: "Email",
    information: "mosi.hickman2006@gmail.com",
    link: "mailto:mosi.hickman2006@gmail.com",
  },
  {
    icon: "linkedin",
    title: "LinkedIn",
    information: "linkedin.com/in/mosi-hickman-blanco/",
    link: "https://www.linkedin.com/in/mosi-hickman-blanco/",
  },
  {
    icon: "github",
    title: "GitHub",
    information: "github.com/mosi-hb",
    link: "https://github.com/mosi-hb",
  },
];

const projects = [
  {
    title: "DESPACE",
    description: "Platform for deploying FIWARE dataspace components.",
    skills: ["Django", "Angular", "Tailwind", "Kubernetes", "Helm"],
  },
  {
    title: "IANUS",
    description:
      "Platform for extracting, transforming, and integrating data across services.",
    skills: ["Django", "Angular", "Tailwind", "Kubernetes"],
  },
  {
    title: "HUCAIN",
    description:
      "Component designed for integration into dataspaces to calculate organizations’ carbon footprints.",
    skills: ["Django", "Angular", "Tailwind", "Kubernetes"],
  },
  {
    title: "Azeria",
    description:
      "Platform that processes architectural sensor data and presents it as easy to understand information through a web interface.",
    skills: ["Django", "Angular", "Tailwind", "Kubernetes", "Helm"],
  },
];
---

<Layout>
  <Navbar />

  <div
    class="md:justify-center md:items-center sm:flex-col flex-1 flex px-10 py-5 space-y-3"
  >
    <!-- About Me -->
    <div
      class="w-full max-w-300 bg-[#171717] border border-[#414141] rounded-xl py-5 px-7 flex space-x-10"
    >
      <Hero />
    </div>

    <div
      class="w-full max-w-300 lg:grid lg:grid-cols-10 md:flex md:flex-col gap-3"
    >
      <div
        class="col-span-4 bg-[#171717] border border-[#414141] rounded-xl py-5 px-7 flex flex-col space-y-2"
      >
        <Skills skills={skills} />
      </div>

      <div
        class="col-span-3 bg-[#171717] border border-[#414141] rounded-xl py-5 px-7 flex flex-col space-y-5"
      >
        <Contacts contacts={contacts} />
      </div>

      <div
        class="col-span-3 bg-[#171717] border border-[#414141] rounded-xl py-5 px-7 flex flex-col space-y-5"
      >
        <Experience />
      </div>
    </div>

    <!-- Projects -->
    <div
      class="w-full h-100 max-w-300 max-h-100 overflow-y-auto bg-[#171717] border border-[#414141] rounded-xl py-5 px-7 flex flex-col space-y-5"
    >
      <Projects projects={projects} />
    </div>
  </div>
</Layout>
