---
import "../styles/global.css";
import Chip from "./Chip.astro";
---

<p class="text-4xl text-[#EEEEEE] font-bold w-full border-b border-[#686868]">
  Experience
</p>

<div class="flex flex-col space-y-2">
  <div class="flex justify-between items-center space-x-2">
    <div>
      <p class="text-[#EEEEEE] font-semibold">Full Stack Developer</p>
      <a
        class="text-[#007FDA] font-bold cursor-pointer text-lg"
        href="https://purpleblob.net/"
        target="_blank">@Purpleblob</a
      >
    </div>

    <Chip text={"2025 ~ Present"} />
  </div>

  <p class="text-[#AAAAAA]">
    Building and maintaining full stack applications, as well as managing
    deployments for those applications and FIWARE data spaces.
  </p>

  <div class="flex space-x-2 flex-wrap space-y-2">
    <Chip text={"Django"} />
    <Chip text={"Angular"} />
    <Chip text={"Tailwind"} />
    <Chip text={"Kubernetes"} />
    <Chip text={"Helm"} />
  </div>
</div>
