---
import "../styles/global.css";
import avatar from "../assets/Avatar.jpg";
---

<div
  class="md:justify-center md:items-center sm:flex-col bg-[#121212] size-full flex px-10 py-5"
>
  <div
    class="w-full max-w-300 bg-[#171717] border border-[#414141] rounded-xl py-5 px-7 flex space-x-10"
  >
    <div class="flex-1 row-span-full flex flex-col space-y-2">
      <p class="text-4xl text-[#EEEEEE] font-bold">
        Hi, I’m Mosi Hickman Blanco
      </p>
      <p class="text-2xl text-[#686868]">Fullstack Developer</p>
      <p class="text-xl text-[#EEEEEE]">
        I’m a 19 year old developer based in Spain who is currently working <a
          class="text-[#007FDA] font-bold cursor-pointer"
          href="https://purpleblob.net/"
          target="_blank">@Purpleblob</a
        >, where I build applications using Django and Angular daily, alongside
        Kubernetes and Helm for deployment and environment management. I enjoy
        building practical, maintainable software and working across both
        development and infrastructure to keep systems reliable and scalable.
      </p>

      <div class="w-full max-w-120 h-10 flex items-center space-x-5 mt-5">
        <a
          class="flex-1 size-full bg-[#EEEEEE] rounded-sm cursor-pointer inline-flex items-center justify-center"
        >
          Resume
        </a>
        <a
          href="https://github.com/mosi-hb"
          class="flex-1 size-full bg-[#171717] rounded-sm border border-[#EEEEEE] text-[#EEEEEE] cursor-pointer inline-flex items-center justify-center"
          target="_blank"
        >
          Github
        </a>
      </div>
    </div>
    <div
      class="col-span-2 row-span-full h-75 w-75 flex justify-center items-center"
    >
      <img
        src={avatar.src}
        alt="Avatar"
        fetchpriority="high"
        class="size-full rounded-full aspect-square"
      />
    </div>
  </div>
</div>
