---
import "../styles/global.css";
import logo from "../assets/Logo.svg";
import { Image } from "astro:assets";
---

<div class="bg-[#171717] w-full h-12 flex justify-between items-center p-5">
  <div class="h-10">
    <!-- I wanted to use astro-icons for this but the svg isn't compatible so image it is -->
    <Image
      src={logo}
      alt="Logo"
      fetchpriority="high"
      class="size-full"
      priority
    />
  </div>

  <div class="text-[#EEEEEE] text-xl">
    <p>
      <span class="font-bold cursor-pointer">EN</span>/<span
        class="cursor-pointer">ES</span>
    </p>
  </div>
</div>
