---
import "../styles/global.css";

import SkillChip from "./SkillChip.astro";

type Props = {
  skills: Record<string, string[]>;
};

const { skills } = Astro.props;
---

<p class="text-4xl text-[#EEEEEE] font-bold w-full border-b border-[#686868]">
  Skills
</p>

{
  Object.entries(skills).map(([key, values]) => (
    <div>
      <p class="text-2xl text-[#686868] w-full capitalize">{key}</p>

      <div class="w-full flex mt-1 space-x-2 flex-wrap space-y-2">
        {values.map((val: string) => (
          <SkillChip text={val} />
        ))}
      </div>
    </div>
  ))
}
